<footer>
  <div class="container footer-end">
    <div class="col-sm-5 col-xs-12">
        <h5><b>Trường THPT Khoái Châu</b></h5>
        <div style="width: 200px;height: 1px;background-color: #1c356e"></div>
        <div class="col-sm-12 col-xs-12 ttt" style="padding:0">
          <p>Trường THPT Khoái Châu thành lập năm 1962, tại Thị trấn Khoái Châu, Huyện Khoái Châu, Tỉnh Hưng Yên.
            Trải qua 58 năm phát triển và trưởng thành, Trường THPT Khoái Châu có bề dày truyền thống, có nhiều thành tích đáng tự hào:Năm 2002 trường được Nhà nước tặng thưởng Huân chương Lao động hạng Nhất; năm 2012 được Chính phủ tặng Cờ thi đua ...
          </p>
        </div>
    </div>
    <div class="col-sm-4 col-xs-12">
        <h5><b>Liên hệ</b></h5>
        <div style="width: 200px;height: 1px;background-color: #1c356e"></div>
        <div class="col-sm-12 col-xs-12 ttt" style="padding: 0">
          <p>Địa chỉ: Thị trấn Khoái Châu, Huyện Khoái Châu, Tỉnh Hưng Yên</p>
          <p>Tel: 02213.910.073</p>
        </div>
    </div>
    <div class="col-sm-3 col-xs-12">
        <h5><b>Liên kết</b></h5>
        <div style="width: 150px;height: 1px;background-color: #1c356e"></div>
        <div class="col-sm-12 col-xs-12 ttt" style="padding: 0">
          <a target=_blank href="https://www.facebook.com/Thptvietduchanoi/"><img title="" src="assets/images/f2b_03.png" alt="" style="max-width: 100%"></a>
          <a target=_blank href="https://www.instagram.com/"><img title="" src="assets/images/in_03.png" alt="" style="max-width: 100%"></a>
          <a target=_blank href="https://www.youtube.com/"><img title="" src="assets/images/yt_03.png" alt="" style="max-width: 100%"></a>
        </div>
    </div>
  </div>
</footer>