<section class="breadcrumb_area">
    <div class="breadcrumb_top">
        <div class="container">
            <div class="row">
                <div class="breadcrumb_title section-padding">
                    <h2>ĐĂNG KÝ</h2>
                </div>
            </div>
        </div>
    </div>
    <div class="breadcrumb_bottom">
        <div class="container">
            <div class="row">
                <div class="breadcrumb_nav">
                    <div class="col-sm-5">
                        <h2>Đăng Ký</h2>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
</section>
<div class="container register">
    <div class="row">
        <div class="col-md-3 register-left">
            <img src="https://image.ibb.co/n7oTvU/logo_white.png" alt=""/>
            <h3>XIN CHÀO</h3>
            <p>Bạn cần đăng ký tài khoản để có thể đăng bài lên diễn đàn!</p>
            <input type="submit" name="" value="Login" a [routerLink]="['/login']"/><br/>
        </div>
        <div class="col-md-9 register-right">
            <div class="tab-content" id="myTabContent">
                <div class="" id="home" role="tabpanel" aria-labelledby="home-tab">
                    <h3 class="register-heading">Đăng ký tài khoản người dùng</h3>
                    <div class="row register-form">
                        <div class="col-md-6">
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="Họ Tên*" value="" />
                            </div>
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="UserName *" value="" />
                            </div>
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="Ngày Sinh *" value="" />
                            </div>
                            <div class="form-group">
                                <input type="password" class="form-control" placeholder="Password *" value="" />
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <input type="email" class="form-control" placeholder="Email *" value="" />
                            </div>
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="Địa Chỉ *" value="" />
                            </div>
                            <div class="form-group">
                                <input type="text" minlength="10" maxlength="10" name="txtEmpPhone" class="form-control" placeholder="SĐT *" value="" />
                            </div>
                            <div class="form-group">
                                <input type="password" class="form-control"  placeholder="Confirm Password *" value="" />
                            </div>
                            <input type="submit" class="btnRegister"  value="Đăng Ký"/>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<br>
<br>