<section>
    <div class="container tin-chinh blog" style="background-color: #fff;">
       <div class="col-sm-12 col-xs-12 tieu-de-blog">
          <h2><a [routerLink]="['/']"> >Trang chủ</a> / Tin tức</h2>
       </div>
       <div class="col-sm-9 col-xs-12" style="padding:0">
          <ng-container *ngFor="let it of tintucs">
             <div class="col-sm-12 col-xs-12 -in-tt">
                <div class="col-sm-4" style="padding:0">
                   <a [routerLink]="['/ct-tintuc',it.maTin]" title="{{catText(it.tieuDe, 50)}}" style="width: 277.48px; height: 208.11px;"><img src="assets/img/{{it.hinhAnh}}" style="width: 100%;"></a>
                </div>
                <div class="col-sm-8">
                   <div class="col-sm-12" style="padding:0">
                      <h3 class="max-lines2"><a [routerLink]="['/ct-tintuc',it.maTin]">{{catText(it.tieuDe, 100)}}</a></h3>
                   </div>
                   <div class="col-sm-12 admin" style="padding:0">
                      <p class="info">
                         <i class="glyphicon glyphicon-time"></i>{{ it.thoiGian| date:'dd-MM-yyyy'  }}
                      </p>
                   </div>
                   <a [routerLink]="['/ct-tintuc',it.maTin]" class="btn btn-info">Chi tiết  &#187;</a>
                </div>
             </div>
          </ng-container>
       </div>
       <div class="col-sm-3 col-xs-12 right-post">
          <div class="col-sm-12 col-xs-12" style="padding:0">
             <form id="J_searchForm" class="search-form clearfix" action="https://c3vietduc.edu.vn/search">
                <div class="input-group">
                   <input type="text" class="form-control" placeholder="Tìm kiếm..." name="search">
                   <div class="input-group-btn">
                      <button class="btn btn-default" type="submit">
                      <i class="fa fa-search"></i>
                      </button>
                   </div>
                </div>
             </form>
          </div>
          <div class="col-sm-12 col-xs-12 new-fet" style="padding:0">
            <h4>Bài viết mới</h4>
            <ng-container *ngFor="let bv of listBaiViet">
                <p class="link"><a [routerLink]="['/ctblog',bv.maBaiViet]"><i class="fa fa-angle-double-right"></i>{{bv.tieuDe}}</a></p>
            </ng-container>
          </div>
          <div class="col-sm-12 col-xs-12 new-fet" style="padding:0">
             <h4>Sự kiện</h4>
             <ng-container *ngFor="let tt of listTinTuc">
                <p class="link"><a [routerLink]="['/ct-tintuc',tt.maTin]"><i class="fa fa-angle-double-right"></i>{{tt.tieuDe}}</a></p>
            </ng-container>
          </div>
       </div>
       <div class="col-sm-12 col-xs-12 text-center" style="padding:0;margin-top:5%">
          <ngb-pagination [collectionSize]="totalRecords" [pageSize]="pageSize" [(page)]="page" [maxSize]="10" [rotate]="true" (pageChange)="loadPage($event)"></ngb-pagination>
       </div>
    </div>
</section>