<section class="breadcrumb_area">
      <div class="breadcrumb_top">
          <div class="container">
              <div class="row">
                  <div class="breadcrumb_title section-padding">
                      <h2>Diễn Đàn</h2>
                  </div>
              </div>
          </div>
      </div>
      <div class="breadcrumb_bottom">
          <div class="container">
              <div class="row">
                  <div class="breadcrumb_nav">
                      <div class="col-sm-3">
                          <h2>Bài Viết Mới</h2>
                      </div>
                      <div class="col-sm-7">
                          <ul>
                              <li><a [routerLink]="['/']">Trang Chủ</a></li>
                              <li><a>Bài Viết Mới</a></li>
                          </ul>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </section>
  <section class="latest_news_area section-padding">
      <div class="container">
          <div class="row">
            <ng-container *ngFor="let it of list_blog">
              <div class="col-md-12" style="padding: 6px !important;">
                  <div class="single_blog_post_box">
                      <div class="blog_post_photo">
                          <img src="assets/img/{{it.hinhAnh}}" style="height: 600px; width: 800px;">
                          <div class="blog_post_date_caption">
                              <span>{{it.thoiGian | date:'dd-MM-yyyy' }} </span>
                          </div>
                      </div>
                      <div class="blog_post_txt">
                          <div class="blog_post_heading">
                              <h2><a [routerLink]="['/ctblog',it.maBaiViet]">{{catText(it.tieuDe)}}</a></h2>
                              <p>{{catText(it.maTK)}}</p>
                          </div>
                          <div class="blog_post_content">
                              <p>{{catText(it.noiDung)}} </p>
                              <ul>
                                  <li><i class="pe-7s-comment"></i>{{it.soBL}}</li>
                              </ul>
                          </div>
                      </div>
                  </div>
              </div>
            </ng-container>
        </div>
    </div>
  </section>
  <div class="row">
    <div class="col-xs-12" style="text-align: center;">
      <ngb-pagination [collectionSize]="totalRecords" [pageSize]="pageSize" [(page)]="page" [maxSize]="10" [rotate]="true" (pageChange)="loadPage($event)"></ngb-pagination>
    </div>
</div>
  

