<section>
    <div class="container tin-chinh blog" style="background-color: #fff;">
       <div class="col-sm-12 col-xs-12 tieu-de-blog">
          <h2 style="margin-bottom: 0"><a [routerLink]="['/']">Trang chủ</a> / 
             <a href="#"> Tin tức</a> /
             {{item.tieuDe}}
          </h2>
       </div>
       <div class="col-sm-12 col-xs-12" style="padding:0">
          <div class="col-sm-9 col-xs-12 bai-viet" style="border-right: 1px solid #eee">
             <h2 style="margin-top: 0">{{item.tieuDe}}</h2>
             <p>Posted By : Admin</p>
            <p>Ngày đăng: {{item.thoiGian| date:'dd-MM-yyyy' }}</p>
             <hr>
             <div class="content">
                <p>{{item.noiDung}}</p>
             </div>
             <div class="featured-images text-center">
                <p>
                    <img src="assets/img/{{item.hinhAnh}}" alt="{{item.tieuDe}}">
                </p>
             </div>
          </div>
          <app-newfet></app-newfet>
        </div>  
    </div>
</section>