<div class="keen-slider" #sliderRef1>
    <div class="keen-slider__slide">
        <div class="item">
            <a href="post/7-du-cua-hoc-sinh-viet-nam-tham-gia-hoi-thi-khoa-hoc-ky-thuat-quoc-te-2021.html"><img src="assets/storage/app/uploads/public/608/fb0/00c/thumb_1076_441_246_0_0_crop.jpg" title="7 dự án của học sinh Việt Nam tham gia Hội thi Khoa học kỹ thuật quốc tế 2021" alt="7 dự án của học sinh Việt Nam tham gia Hội thi Khoa học kỹ thuật quốc tế 2021" style="width: 100%"></a>
            <h3><a href="post/7-du-cua-hoc-sinh-viet-nam-tham-gia-hoi-thi-khoa-hoc-ky-thuat-quoc-te-2021.html">7 dự án của học sinh Việt Nam tham gia Hội thi Khoa học kỹ thuật quốc tế 2021</a></h3>
            <div style="width:50px;height:40px;background-color:rgba(255,255,255,0.8);position:absolute;top:0;right:0;text-align:center;border-radius: 3px;">
               <div style="width:50px;height:15px;font-size:11px;background-color:#0A2343;color:#fff">
                  May/2021
               </div>
               <div style="width:50px; height:25px;font-size:20px;line-height:25px;color:#0A2343">
                  <b>03</b>
               </div>
            </div>
         </div>
    </div>
    <div class="keen-slider__slide">
        <div class="item">
            <a href="post/chuong-trinh-toa-dam-truc-tuyen-huong-dan-hoc-sinh-hoan-tat-ho-so-ung-tuyen-hoc-bong-hop-tac-buv-vd.html"><img src="assets/storage/app/uploads/public/603/872/2e0/thumb_1033_441_246_0_0_crop.jpg" title="Chương trình toạ đàm trực tuyến hướng dẫn học sinh hoàn tất hồ sơ ứng tuyển Học bổng Hợp tác BUV - VĐ" alt="Chương trình toạ đàm trực tuyến hướng dẫn học sinh hoàn tất hồ sơ ứng tuyển Học bổng Hợp tác BUV - VĐ" style="width: 100%"></a>
            <h3><a href="post/chuong-trinh-toa-dam-truc-tuyen-huong-dan-hoc-sinh-hoan-tat-ho-so-ung-tuyen-hoc-bong-hop-tac-buv-vd.html">Chương trình toạ đàm trực tuyến hướng dẫn học sinh hoàn tất hồ sơ ứng tuyển Học bổng Hợp tác BUV - VĐ</a></h3>
            <div style="width:50px;height:40px;background-color:rgba(255,255,255,0.8);position:absolute;top:0;right:0;text-align:center;border-radius: 3px;">
               <div style="width:50px;height:15px;font-size:11px;background-color:#0A2343;color:#fff">
                  Feb/2021
               </div>
               <div style="width:50px; height:25px;font-size:20px;line-height:25px;color:#0A2343">
                  <b>24</b>
               </div>
            </div>
         </div>
    </div>
    <div class="keen-slider__slide">
        <div class="item">
            <a href="post/video-le-ky-niem-65-nam-ngay-thanh-lap-truong-thpt-viet-duc-ly-thuong-kiet.html"><img src="assets/storage/app/uploads/public/5fb/b7b/dc8/thumb_940_441_246_0_0_crop.jpg" title="Video Lễ kỷ niệm 65 năm ngày thành lập trường THPT Khoái Châu" alt="Video Lễ kỷ niệm 65 năm ngày thành lập trường THPT Khoái Châu" style="width: 100%"></a>
            <h3><a href="post/video-le-ky-niem-65-nam-ngay-thanh-lap-truong-thpt-viet-duc-ly-thuong-kiet.html">Video Lễ kỷ niệm 65 năm ngày thành lập trường THPT Khoái Châu</a></h3>
            <div style="width:50px;height:40px;background-color:rgba(255,255,255,0.8);position:absolute;top:0;right:0;text-align:center;border-radius: 3px;">
               <div style="width:50px;height:15px;font-size:11px;background-color:#0A2343;color:#fff">
                  Nov/2020
               </div>
               <div style="width:50px; height:25px;font-size:20px;line-height:25px;color:#0A2343">
                  <b>22</b>
               </div>
            </div>
         </div>
    </div>
    <div class="keen-slider__slide">
        <div class="item">
            <a href="post/65-nam-truong-thpt-viet-duc-ly-thuong-kiet-yeu-thuong-va-tu-hao.html"><img src="assets/storage/app/uploads/public/5fb/4b9/935/thumb_937_441_246_0_0_crop.jpg" title="65 năm trường THPT Khoái Châu: Yêu thương và tự hào" alt="65 năm trường THPT Khoái Châu: Yêu thương và tự hào" style="width: 100%"></a>
            <h3><a href="post/65-nam-truong-thpt-viet-duc-ly-thuong-kiet-yeu-thuong-va-tu-hao.html">65 năm trường THPT Khoái Châu: Yêu thương và tự hào</a></h3>
            <div style="width:50px;height:40px;background-color:rgba(255,255,255,0.8);position:absolute;top:0;right:0;text-align:center;border-radius: 3px;">
               <div style="width:50px;height:15px;font-size:11px;background-color:#0A2343;color:#fff">
                  Nov/2020
               </div>
               <div style="width:50px; height:25px;font-size:20px;line-height:25px;color:#0A2343">
                  <b>17</b>
               </div>
            </div>
         </div>
    </div>
    <div class="keen-slider__slide">
        <div class="item">
            <a href="post/ky-niem-65-nam-truong-thpt-viet-duc-ly-thuong-kiet-yeu-thuong-tu-hao.html"><img src="assets/storage/app/uploads/public/5fb/4b5/4fd/thumb_936_441_246_0_0_crop.jpg" title="Kỷ niệm 65 năm trường THPT Khoái Châu" alt="Kỷ niệm 65 năm trường THPT Khoái Châu" style="width: 100%"></a>
            <h3><a href="post/ky-niem-65-nam-truong-thpt-viet-duc-ly-thuong-kiet-yeu-thuong-tu-hao.html">Kỷ niệm 65 năm trường THPT Khoái Châu</a></h3>
            <div style="width:50px;height:40px;background-color:rgba(255,255,255,0.8);position:absolute;top:0;right:0;text-align:center;border-radius: 3px;">
               <div style="width:50px;height:15px;font-size:11px;background-color:#0A2343;color:#fff">
                  Nov/2020
               </div>
               <div style="width:50px; height:25px;font-size:20px;line-height:25px;color:#0A2343">
                  <b>17</b>
               </div>
            </div>
         </div>
    </div>
</div>