<div *ngIf="tintucs">
   <div class="owl-carousel owl-loaded owl-drag" style="margin-left: 15px;">
         <ng-container *ngFor="let it of tintucs">
            <div class="owl-item" style="width: 360px; margin-right: 10px; float: left !important;">
               <div class="item">
                  <a [routerLink]="['/chi-tiet-tin-tuc',it.maTin]"><img src="assets/img/{{it.hinhAnh}}" width="370px" height="206.39px" style="width: 100%;"></a>
                  <h3><a [routerLink]="['/chi-tiet-tin-tuc',it.maTin]">{{catText(it.tieuDe, 100)}}</a></h3>
                  <div style="width:50px;height:40px;background-color:rgba(255,255,255,0.8);position:absolute;top:0;right:0;text-align:center;border-radius: 3px;">
                     <div style="width:50px;height:15px;font-size:11px;background-color:#0A2343;color:#fff">
                        {{ it.thoiGian| date:'MM/yyyy'  }}
                     </div>
                     <div style="width:50px; height:25px;font-size:20px;line-height:25px;color:#0A2343">
                        <b>{{ it.thoiGian| date:'dd'  }}</b>
                     </div>
                  </div>
               </div>
            </div>
         </ng-container>
   </div>
    
</div>