      <section class="breadcrumb_area">
            <div class="breadcrumb_top">
                <div class="container">
                    <div class="row">
                        <div class="breadcrumb_title section-padding">
                            <h2>THỜI KHÓA BIỂU</h2>
                        </div>
                    </div>
                </div>
            </div>
            <div class="breadcrumb_bottom">
                <div class="container">
                    <div class="row">
                        <div class="breadcrumb_nav">
                            <div class="col-sm-5">
                                <h2>THỜI KHÓA BIỂU</h2>
                            </div>
                            <div class="col-sm-7">
                                <ul>
                                    <li><a [routerLink]="['/tkb']">Thời Khóa Biểu</a></li>
                                    <li>CT TKB</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- <div class="rows form-group">
            <input type="button" value="Download PDF" class="btn btn-success" (click)="SavePDF()">
          </div> -->
          <div >
            <div class="container" id="couponPage" #couponPage>
               <br>
               <p>Trường : THPT Khoái Châu <br>
                  Học kỳ 1, năm học 2020-2021<br>
                  TKB có tác dụng từ: 12/10/2020
               </p>
               <p>- Buổi sáng: Tiết 1 từ 7h15'</p>
                <p> - Buổi chiều: Tiết 1 từ 13h00'</p>
               <h2 style="text-align: center;">THỜI KHÓA BIỂU</h2>
               <table class="table table-bordered text-center mb-4">
                  <thead>
                     <tr >
                        <th style="text-align: center !important;">TIẾT</th>
                        <th style="text-align: center !important;">Thứ 2</th>
                        <th style="text-align: center !important;">Thứ 3</th>
                        <th style="text-align: center !important;">Thứ 4</th>
                        <th style="text-align: center !important;">Thứ 5</th>
                        <th style="text-align: center !important;">Thứ 6</th>
                        <th style="text-align: center !important;">Thứ 7</th>
                     </tr>
                  </thead>
                  <tbody>
                     <tr *ngFor="let t of tiets">
                        <td>{{t}}</td>
                        <ng-container *ngFor="let mon of list_tkb">
                           <ng-container *ngIf="mon.tietDay== t">
                              <td>{{mon.tenMon}}</td>
                           </ng-container>
                        </ng-container>
                        <ng-container *ngIf="t=='5'">
                           <td></td>
                        </ng-container>
                     </tr>
                  </tbody>
               </table>
            </div>
         </div>
          
