<section>
    <div class="container tin-chinh blog" style="background-color: #fff;">
       <div class="col-sm-12 col-xs-12 tieu-de-blog">
          <h2 style="margin-bottom: 0"><a [routerLink]="['/']">Trang chủ</a> / 
              Cơ cấu tổ chức /
             BCH Công đoàn
          </h2>
       </div>
       <div class="col-sm-12 col-xs-12" style="padding:0">
          <div class="col-sm-9 col-xs-12 bai-viet" style="border-right: 1px solid #eee">
             <h2 style="margin-top: 0">BCH Công đoàn</h2>
             <hr>
             <div class="content">
                <h3><strong>Danh sách BCH Công đoàn năm học 2020-2021</strong></h3>
                <table style="margin-right: calc(4%); width: 96%;" cellspacing="0" cellpadding="0" border="1">
                   <tbody>
                      <tr>
                         <td style="text-align: center;" width="71" valign="top">
                            <p align="center"><strong>STT</strong></p>
                         </td>
                         <td style="text-align: center;" width="319" valign="top">
                            <p align="center"><strong>Họ và tên</strong></p>
                         </td>
                         <td style="text-align: center; width: 25.7659%;" width="189" valign="top">
                            <p align="center"><strong>Chức vụ</strong></p>
                         </td>
                         <td style="text-align: center; width: 20.9517%;" width="154" valign="top">
                            <p align="center"><strong>Số điện thoại</strong></p>
                         </td>
                      </tr>
                      <tr>
                         <td style="text-align: center;" width="71" valign="top">1
                            <br>
                         </td>
                         <td width="319" valign="top">Phạm Thị Minh Nguyệt
                            <br>
                         </td>
                         <td style="width: 25.7659%;" width="189" valign="top">Chủ tịch CĐ
                            <br>
                         </td>
                         <td style="width: 20.9517%;" width="154" valign="top">01687719166
                            <br>
                         </td>
                      </tr>
                      <tr>
                         <td style="text-align: center;" width="71" valign="top">2
                            <br>
                         </td>
                         <td width="319" valign="top">Vương Thị Hương
                            <br>
                         </td>
                         <td style="width: 25.7659%;" width="189" valign="top">Kế toán CĐ
                            <br>
                         </td>
                         <td style="width: 20.9517%;" width="154" valign="top">0943109606
                            <br>
                         </td>
                      </tr>
                      <tr>
                         <td style="text-align: center;" width="71" valign="top">3
                            <br>
                         </td>
                         <td width="319" valign="top">Nguyễn Trọng Thành
                            <br>
                         </td>
                         <td style="width: 25.7659%;" width="189" valign="top">Ủy viên
                            <br>
                         </td>
                         <td style="width: 20.9517%;" width="154" valign="top">0983324132
                            <br>
                         </td>
                      </tr>
                      <tr>
                         <td style="text-align: center;" width="71" valign="top">4
                            <br>
                         </td>
                         <td width="319" valign="top">Nguyễn Thúy Hường
                            <br>
                         </td>
                         <td style="width: 25.7659%;" width="189" valign="top">Tổ trưởng CĐ tổ Toán-Tin
                            <br>
                         </td>
                         <td style="width: 20.9517%;" width="154" valign="top">0903251919
                            <br>
                         </td>
                      </tr>
                      <tr>
                         <td style="text-align: center;" width="71" valign="top">5
                            <br>
                         </td>
                         <td width="319" valign="top">Bùi Thị Thà
                            <br>
                         </td>
                         <td style="width: 25.7659%;" width="189" valign="top">Tổ trưởng CĐ tổ Ngữ Văn
                            <br>
                         </td>
                         <td style="width: 20.9517%;" width="154" valign="top">0986772529
                            <br>
                         </td>
                      </tr>
                      <tr>
                         <td style="text-align: center;" width="71" valign="top">6
                            <br>
                         </td>
                         <td width="319" valign="top">Trần Thị Mai Hương
                            <br>
                         </td>
                         <td style="width: 25.7659%;" width="189" valign="top">Tổ trưởng CĐ tổ Hóa-Sinh
                            <br>
                         </td>
                         <td style="width: 20.9517%;" width="154" valign="top">0983912385
                            <br>
                         </td>
                      </tr>
                      <tr>
                         <td style="text-align: center;" width="71" valign="top">7
                            <br>
                         </td>
                         <td width="319" valign="top">Ngô Thị Tùng Lâm
                            <br>
                         </td>
                         <td style="width: 25.7659%;" width="189" valign="top">Tổ trưởng CĐ tổ Lý-CN
                            <br>
                         </td>
                         <td style="width: 20.9517%;" width="154" valign="top">0983535163
                            <br>
                         </td>
                      </tr>
                      <tr>
                         <td style="text-align: center;" width="71" valign="top">8
                            <br>
                         </td>
                         <td width="319" valign="top">Nguyễn Thị Giang
                            <br>
                         </td>
                         <td style="width: 25.7659%;" width="189" valign="top">Tổ trưởng CĐ tổ Xã Hội
                            <br>
                         </td>
                         <td style="width: 20.9517%;" width="154" valign="top">0932357488
                            <br>
                         </td>
                      </tr>
                      <tr>
                         <td style="text-align: center;" width="71" valign="top">9
                            <br>
                         </td>
                         <td width="319" valign="top">Nguyễn Thị Thu Thủy
                            <br>
                         </td>
                         <td style="width: 25.7659%;" width="189" valign="top">Tổ trưởng CĐ tổ NN-TD
                            <br>
                         </td>
                         <td style="width: 20.9517%;" width="154" valign="top">0912532539
                            <br>
                         </td>
                      </tr>
                      <tr>
                         <td style="text-align: center;" width="71" valign="top">10
                            <br>
                         </td>
                         <td width="319" valign="top">Bùi Trung Kiên
                            <br>
                         </td>
                         <td style="width: 25.7659%;" width="189" valign="top">Tổ trưởng CĐ tổ Văn Phòng
                            <br>
                         </td>
                         <td style="width: 20.9517%;" width="154" valign="top">0968488991
                            <br>
                         </td>
                      </tr>
                   </tbody>
                </table>
             </div>
          </div>
          <app-newfet></app-newfet>
       </div>
    </div>
 </section>