<section>
    <div class="container tin-chinh blog" style="background-color: #fff;">
       <div class="col-sm-12 col-xs-12 tieu-de-blog">
          <h2 style="margin-bottom: 0"><a [routerLink]="['/']">Trang chủ</a> / Cơ cấu tổ chức / 
             Ban giám hiệu
          </h2>
       </div>
       <div class="col-sm-12 col-xs-12" style="padding:0">
          <div class="col-sm-9 col-xs-12 bai-viet" style="border-right: 1px solid #eee">
             <h2 style="margin-top: 0">Ban giám hiệu</h2>
             <hr>
             <div class="content">
                <h3><strong>Ban giám hiệu trường THPT Khoái Châu</strong></h3>
                <table style="width: 100%;">
                   <tbody>
                      <tr>
                         <td style="width: 4.3983%; text-align: center;">
                            <h4><strong>TT<br></strong></h4>
                         </td>
                         <td style="width: 24.1494%; text-align: center;">
                            <h4><strong>Họ tên<br></strong></h4>
                         </td>
                         <td style="width: 14.2857%; text-align: center;">
                            <h4><strong>Chức danh<br></strong></h4>
                         </td>
                         <td style="width: 14.2857%; text-align: center;">
                            <h4><strong>Trình độ</strong></h4>
                            <h4><strong>CM<br></strong></h4>
                         </td>
                         <td style="width: 14.2857%; text-align: center;">
                            <h4><strong>Trình độ</strong></h4>
                            <h4><strong>LLCT</strong></h4>
                         </td>
                         <td style="width: 14.2857%; text-align: center;">
                            <h4><strong>Lĩnh vực</strong></h4>
                            <h4><strong>quản lý</strong></h4>
                         </td>
                         <td style="width: 14.2857%; text-align: center;">
                            <h4><strong>Ảnh<br></strong></h4>
                         </td>
                      </tr>
                      <tr>
                         <td style="width: 4.3983%; text-align: center;">
                            <h4>1<strong><br></strong></h4>
                         </td>
                         <td style="width: 24.1494%; text-align: justify;">
                            <h4>&nbsp;<strong>Nguyễn Bội Quỳnh</strong><strong><br></strong></h4>
                         </td>
                         <td style="width: 14.2857%; text-align: center;">
                            <h4>Bí thư Đảng ủy, Hiệu trưởng</h4>
                         </td>
                         <td style="width: 14.2857%; text-align: center;">
                            <h4>Tiến sĩ</h4>
                         </td>
                         <td style="width: 14.2857%; text-align: center;">
                            <h4>Cao cấp<strong><br></strong></h4>
                         </td>
                         <td style="width: 14.2857%; text-align: center;">
                            <h4>Tài chính;</h4>
                            <h4>Trí dục
                               <br>
                            </h4>
                         </td>
                         <td style="width: 14.2857%;">
                            <h4><strong></strong><img src="assets/storage/app/media/uploaded-files/nh_1586312551.jpg" style="width: 113px; height: 122.162px;" class="fr-fic fr-dib" data-result="success"></h4>
                         </td>
                      </tr>
                      <tr>
                         <td style="width: 4.3983%; text-align: center;">
                            <h4>2<strong><br></strong></h4>
                         </td>
                         <td style="width: 24.1494%; text-align: left;">
                            <h4><strong>&nbsp;Trần Thị Quỳnh Hoa</strong><strong><br></strong></h4>
                         </td>
                         <td style="width: 14.2857%; text-align: center;">
                            <h4>Phó Hiệu trưởng</h4>
                         </td>
                         <td style="width: 14.2857%; text-align: center;">
                            <h4>Thạc sĩ</h4>
                         </td>
                         <td style="width: 14.2857%; text-align: center;">
                            <h4>Trung cấp</h4>
                         </td>
                         <td style="width: 14.2857%; text-align: center;">
                            <h4>Đức dục
                               <br>
                            </h4>
                         </td>
                         <td style="width: 14.2857%;">
                            <h4><strong><img src="assets/storage/app/media/uploaded-files/anh%20web_1581084787.jpg" style="width: 111px; height: 148.197px;" class="fr-fic fr-dib" data-result="success"></strong></h4>
                         </td>
                      </tr>
                      <tr>
                         <td style="width: 4.3983%; text-align: center;">
                            <h4>3<strong><br></strong></h4>
                         </td>
                         <td style="width: 24.1494%; text-align: justify;">
                            <h4>&nbsp;<strong>Bùi Thanh Huyền</strong><strong><br></strong></h4>
                         </td>
                         <td style="width: 14.2857%; text-align: center;">
                            <h4>Phó Hiệu trưởng</h4>
                         </td>
                         <td style="width: 14.2857%; text-align: center;">
                            <h4>Thạc sĩ</h4>
                         </td>
                         <td style="width: 14.2857%; text-align: center;">
                            <h4>Trung cấp</h4>
                         </td>
                         <td style="width: 14.2857%; text-align: center;">
                            <h4>Cơ sở vật chất
                               <br>
                            </h4>
                         </td>
                         <td style="width: 14.2857%;">
                            <h4><img src="assets/storage/app/media/uploaded-files/co-huyen-hieu-pho1581001146.jpg" style="width: 112px; height: 178.441px;" class="fr-fic fr-dib" data-result="success">
                               <br>
                            </h4>
                         </td>
                      </tr>
                   </tbody>
                </table>
             </div>
          </div>
          <app-newfet></app-newfet>
       </div>
    </div>
</section>